<?xml version="1.0"?>
<!--
	This file is part of the "OMSI Tools" project. 
	Authors: Florian Vick <florian@eagle-eye-studios.net> 
	Find the project at https://github.com/vickfl/omsi-tools/
 
	OMSI Tools is licensed under the MIT License:
  
 	Copyright (c) 2014 Eagle Eye Studios, Florian Vick
 
	Permission is hereby granted, free of charge, to any person obtaining a copy
 	of this software and associated documentation files (the "Software"), to deal
 	in the Software without restriction, including without limitation the rights
 	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 	copies of the Software, and to permit persons to whom the Software is
 	furnished to do so, subject to the following conditions:
 
 	The above copyright notice and this permission notice shall be included in
 	all copies or substantial portions of the Software.
 
 	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 	THE SOFTWARE.
-->
<configuration>
		<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OmsiTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OmsiTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
		</startup>
  <applicationSettings>
    <OmsiTools.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="RegKey32" serializeAs="String">
        <value>HKEY_LOCAL_MACHINE\SOFTWARE\aerosoft\OMSI 2</value>
      </setting>
      <setting name="RegKey64" serializeAs="String">
        <value>HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\aerosoft\OMSI 2</value>
      </setting>
      <setting name="RegValueName" serializeAs="String">
        <value>Product_Path</value>
      </setting>
      <setting name="BackupDataDir" serializeAs="String">
        <value>archives</value>
      </setting>
    </OmsiTools.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <OmsiTools.Properties.Settings>
      <setting name="OmsiPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupInfoDir" serializeAs="String">
        <value>db</value>
      </setting>
    </OmsiTools.Properties.Settings>
  </userSettings>
</configuration>
